.full-body-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}

#sweatmetric {
  font-size: 64px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  border-bottom: black 10px;
  padding: 50px 0px 50px 0px;
  background-color: rgb(72, 72, 224);
  width: 100vw;
  border-bottom: 3px solid rgba(0, 0, 0, 0.3);
}

.google-colors h1 {
  margin-bottom: 0;
  margin-right: 3px;
}

.input-menu {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 20px;
  margin-top: 10px;
}

.input-box {
  border-radius: 50px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  margin-top: 10px;
  padding: 12px;
  min-width: 400px;
}

.input-box img {
  height: 20px;
  width: 20px;
}

.dayBox {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-top: solid black 3px;
  border-left: solid black 3px;
  border-right: solid black 3px;
}

.exercise {
  display: block;
}

.top-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-box input {
  width: 100%;
  margin-left: 10px;
  font-size: 16px;
  border: none;
  outline: 0;
}

#answer-box {
  width: 700px;
  margin-top: 50px;

  border-bottom: solid black 3px;
}

.episode-title {
  font-family: "Kanit", sans-serif;
}

.episode-desc {
  font-family: "Montserrat", sans-serif;
}
