.full-body-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}

#sweatmetric {
  font-size: 64px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  border-bottom: black 10px;
  padding: 50px 0px 50px 0px;
  background-color: rgb(0, 140, 186);
  width: 100vw;
  border-bottom: 3px solid rgba(0, 0, 0, 0.3);
}

.input-menu {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 20px;
  margin-top: 10px;
}

.input-box {
  border-radius: 50px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  margin-top: 10px;
  padding: 12px;
  min-width: 400px;
}

.input-box img {
  height: 20px;
  width: 20px;
}

.generate-button {
  font-family: "Open Sans", sans-serif;
  border: solid rgb(0, 140, 186) 4px;
  border-radius: 20px;
  padding: 10px;
  margin-top: 20px;
  color: #fff;
  background: rgb(0, 140, 186);
}

.episode-title {
  font-family: "Kanit", sans-serif;
}

.episode-desc {
  font-family: "Montserrat", sans-serif;
}

#calendar-box {
  width: 90vw;
  margin-top: 50px;
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.day {
  border-bottom: solid rgba(0, 0, 0, 0.4) 3px;
  text-align: center;
  padding-bottom: 5px;
  font-weight: bold;
}

.dayBox {
  padding: 20px;
  font-family: "Open Sans", sans-serif;
  flex: 1;
  min-width: 100px;
}

.exercise {
  display: -webkit-box;
  -webkit-line-clamp: 4; /* Limit text to 3 lines */
  line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: "Open Sans", sans-serif;
}

/* drop down for exercise expanded */
.expanded {
  display: block;
  line-clamp: unset;
  overflow: visible;
  text-overflow: unset;
}

.toggle-btn {
  display: block;
  margin-top: 5px;
  background: rgba(0, 0, 0, 0.3);
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 14px;
  width: 100%;
  border-radius: 10px;
}
.toggle-btn:hover {
  background: rgba(0, 0, 0, 0.6);
}

.top-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-box input {
  width: 100%;
  margin-left: 10px;
  font-size: 16px;
  border: none;
  outline: 0;
}
