<!DOCTYPE html>
<title>Sweatmetric</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link rel="icon" type="image/png" href="static\images\sweat_drop.png" />
<link
  href="https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat&family=Open+Sans:wght@500&display=swap"
  rel="stylesheet"
/>
<body>
  <div class="full-body-container">
    <div class="top-text">
      <div id="sweatmetric">
        SWE<img
          src="{{ url_for('static', filename='images/sweat_drop.png') }}"
          style="width: 80px; margin: -15px; position: relative; top: 10px"
        />TMETRIC
      </div>

      <div class="input-menu">
        <div class="input-box" onclick="focus()">
          <img src="{{ url_for('static', filename='images/mag.png') }}" />

          <input
            placeholder="Sport"
            list="sports"
            name="mySport"
            id="mySport"
          />
          <datalist id="sports">
            <option value="Basketball"></option>
            <option value="Baseball"></option>
            <option value="Lacrosse"></option>
            <option value="Tennis"></option>
            <option value="Volleyball"></option>
            <option value="Weightlifting"></option>
            <option value="Other"></option>
          </datalist>
        </div>

        <div class="input-box" onclick="focus()">
          <img src="{{ url_for('static', filename='images/mag.png') }}" />
          <input
            placeholder="Fitness level"
            list="level"
            name="myLevel"
            id="myLevel"
          />
          <datalist id="level" placeholder="Fitness level">
            <option value="Beginner"></option>
            <option value="Intermediate"></option>
            <option value="Expert"></option>
          </datalist>
        </div>
        <div class="input-box" onclick="focus()">
          <img src="{{ url_for('static', filename='images/mag.png') }}" />
          <input placeholder="Goals" id="filter-text-goals" />
        </div>
      </div>
    </div>
    <div class="generate-button" onclick="queryUpdate()">Generate Plan</div>
    <div
      id="curr-query"
      style="
        font-family: 'Open Sans', sans-serif;
        white-space: pre-line;
        margin-top: 20px;
      "
    ></div>
    <!-- Also a placeholder - just here to show that it makes sense -->
    <div id="calendar-box"></div>
  </div>

  <script>
    let query = ["None", "None", "None"]; //we want to assemble a full query
    let total = 0;

    function queryUpdate() {
      total = 0;
      sport = document.getElementById("mySport").value;
      level = document.getElementById("myLevel").value;
      goals = document.getElementById("filter-text-goals").value;
      query = [sport, level, goals];
      curr_query = document.getElementById("curr-query");
      curr_query.innerHTML = `Sport: ${query[0]} \n Fitness level: ${query[1]} \n Goals: ${query[2]} 
      \n\n Generating workout plan...`;
      //for now - 6 exercises a day, rest every 3rd day - 30 total exercises based on splits
      exerciseList = getExerciseList(query);
      getExerciseList(query)
        .then((exerciseList) => {
          //turn the exercise list into groups of 6
          const groupedExercises = [];
          for (let i = 0; i < exerciseList.length; i += 6) {
            groupedExercises.push(exerciseList.slice(i, i + 6)); // create groups of 6
            if (
              groupedExercises.length === 2 ||
              groupedExercises.length === 5
            ) {
              groupedExercises.push("rest"); //add "Rest" after every 3rd group
            }
          }
          createCalendar(groupedExercises); //call createCalendar after exercise_list is fetched
          curr_query.innerHTML = `Sport: ${query[0]} \n Fitness level: ${query[1]} \n Goals: ${query[2]} \n`; //not generating any more
        })
        .catch((error) => {
          console.error("Error fetching exercises:", error);
          curr_query.innerHTML = `Sport: ${query[0]} \n Fitness level: ${query[1]} \n Goals: ${query[2]} 
          \n \n Error fetching exercises. Please try again.`; //not generating any more
        });
    }

    function exerciseDayTemplate(exerciseList, day) {
      //create each day (monday through sunday) with rest day as default off
      if (exerciseList !== "rest") {
        tempDiv = `<div class='dayBox'>
                            <p class='day'>${day}</p>`;
        exerciseList.forEach((exercise, index) => {
          total += 1;
          tempDiv += `<div><p class='exercise' id='${total}' ><strong>Exercise ${
            index + 1
          }: </strong>${exercise}</p>
          <button class="toggle-btn" id='btn-${total}' onclick="toggleText('${total}')">▼</button>
          </div>`; //enumerate every exercise
        });
        return tempDiv + `</div>`;
      } else {
        return `<div class='dayBox'> <p class='day'>${day}</p><p class='exercise'>Rest Day - don't exercise today!</p> </div>`;
      }
    }

    function toggleText(index) {
      const textElement = document.getElementById(`${index}`);
      const button = document.getElementById(`btn-${index}`);

      if (textElement.classList.contains("expanded")) {
        textElement.classList.remove("expanded");
        button.innerHTML = "▼";
      } else {
        textElement.classList.add("expanded");
        button.innerHTML = "▲";
      }
    }

    function answerBoxTemplate(title, titleDesc, rating) {
      return `<div class=''>
                <h3 class='episode-title'>${title}</h3>
                <p class='episode-desc'>${titleDesc}</p>
                <p class='episode-rating'>IMDB Rating: ${rating}</p>
            </div>`;
    }

    function createCalendar(exerciseList) {
      //nested exercise list per day
      document.getElementById("calendar-box").innerHTML = ""; //clear the initial calendar
      let dayArr = [
        "Sunday",
        "Monday",
        "Tuesday",
        "Wednesday",
        "Thursday",
        "Friday",
        "Saturday",
      ];
      for (let i = 0; i < 7; i++) {
        dayBox = exerciseDayTemplate(exerciseList[i], dayArr[i]);
        //still have to add rest in here somewhere
        let tempDiv = document.createElement("div");
        tempDiv.innerHTML = dayBox;
        document.getElementById("calendar-box").appendChild(tempDiv);
      }
    }

    function getExerciseList(query) {
      //our query is sport, level, goals
      return fetch(
        "/exercises?" +
          new URLSearchParams({
            sport: query[0],
            level: query[1],
            goals: query[2],
          }).toString()
      )
        .then((response) => response.json())
        .then((data) => {
          let exercise_list = [];
          for (const group of data) {
            for (const tuple of group) {
              const exercise = tuple[0];
              const score = tuple[1];
              let part = "";
              if (exercise["Type"] === "Cardio") {
                part = "Cardio";
              } else {
                part = exercise["BodyPart"];
              }
              exercise_list.push(
                `<br> ${exercise["Description"]} <br> <strong>Body part: </strong>${part} <br>
                <strong>Similarity score: </strong>${score}` //this should add a score too
                //want to split this by exercise title and stuff too
              );
            }
          }
          return exercise_list;
        });
    }

    function filterText() {
      document.getElementById("calendar-box").innerHTML = "";
      console.log(document.getElementById("filter-text-val").value);
      fetch(
        "/episodes?" +
          new URLSearchParams({
            title: document.getElementById("filter-text-val").value,
          }).toString()
      )
        .then((response) => response.json())
        .then((data) =>
          data.forEach((row) => {
            let tempDiv = document.createElement("div");
            tempDiv.innerHTML = answerBoxTemplate(
              row.title,
              row.descr,
              row.imdb_rating
            );
            document.getElementById("answer-box").appendChild(tempDiv);
          })
        );
    }
  </script>
</body>
