<!DOCTYPE html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat&family=Open+Sans:wght@500&display=swap"
  rel="stylesheet"
/>
<body>
  <div class="full-body-container">
    <div class="top-text">
      <div id="sweatmetric">
        SWE<img
          src="{{ url_for('static', filename='images/sweat_drop.png') }}"
          style="width: 80px; margin: -15px; position: relative; top: 10px"
        />TMETRIC
      </div>

      <div class="input-menu">
        <div class="input-box" onclick="focus()">
          <img src="{{ url_for('static', filename='images/mag.png') }}" />

          <input
            placeholder="Sport"
            list="sports"
            name="mySport"
            id="mySport"
          />
          <datalist id="sports">
            <option value="Basketball"></option>
            <option value="Baseball"></option>
            <option value="Lacrosse"></option>
            <option value="Tennis"></option>
            <option value="Volleyball"></option>
            <option value="Weightlifting"></option>
            <option value="Other"></option>
          </datalist>
        </div>

        <div class="input-box" onclick="focus()">
          <img src="{{ url_for('static', filename='images/mag.png') }}" />
          <input placeholder="Fitness level" id="filter-text-level" />
          <!-- change these to dropdowns maybe -->
        </div>
        <div class="input-box" onclick="focus()">
          <img src="{{ url_for('static', filename='images/mag.png') }}" />
          <input placeholder="Goals" id="filter-text-goals" />
        </div>
      </div>
    </div>
    <div id="generate-button" onclick="queryUpdate()">Generate Plan</div>
    <div
      id="curr-query"
      style="
        font-family: 'Open Sans', sans-serif;
        white-space: pre-line;
        margin-top: 20px;
      "
    ></div>
    <!-- Also a placeholder - just here to show that it makes sense -->
    <div id="calendar-box"></div>
  </div>

  <script>
    let query = ["None", "None", "None"]; //we want to assemble a full query
    function queryUpdate() {
      sport = document.getElementById("mySport").value;
      level = document.getElementById("filter-text-level").value;
      goals = document.getElementById("filter-text-goals").value;
      query = [sport, level, goals];
      curr_query = document.getElementById("curr-query");
      curr_query.innerHTML = `Sport: ${query[0]} \n Fitness level: ${query[1]} \n Goals: ${query[2]} \n`;
      //for now - 6 exercises a day, rest every 3rd day - 30 total exercises based on splits
      createCalendar([[sport, sport], [], "rest", [], [], "rest", []]); //when we have a search, put it here!!
    }

    function exerciseDayTemplate(exerciseList, day) {
      //create each day (monday through sunday) with rest day as default off
      if (exerciseList !== "rest") {
        tempDiv = `<div class='dayBox'>
                            <p class='day'>${day}</p>`;
        exerciseList.forEach((exercise, index) => {
          tempDiv += `<p class='exercise'>Exercise ${
            index + 1
          }: ${exercise}</p>`; //enumerate every exercise
        });
        return tempDiv + `</div>`;
      } else {
        return `<div class='dayBox'> <p class='day'>${day}</p><p class='exercise'>Rest Day - don't exercise today!</p> </div>`;
      }
    }

    function answerBoxTemplate(title, titleDesc, rating) {
      return `<div class=''>
                <h3 class='episode-title'>${title}</h3>
                <p class='episode-desc'>${titleDesc}</p>
                <p class='episode-rating'>IMDB Rating: ${rating}</p>
            </div>`;
    }

    function createCalendar(exerciseList) {
      //nested exercise list per day
      document.getElementById("calendar-box").innerHTML = ""; //clear the initial calendar
      let dayArr = [
        "Sunday",
        "Monday",
        "Tuesday",
        "Wednesday",
        "Thursday",
        "Friday",
        "Saturday",
      ];
      for (let i = 0; i < 7; i++) {
        dayBox = exerciseDayTemplate(exerciseList[i], dayArr[i]);
        //still have to add rest in here somewhere
        let tempDiv = document.createElement("div");
        tempDiv.innerHTML = dayBox;
        document.getElementById("calendar-box").appendChild(tempDiv);
      }
    }

    function filterText() {
      document.getElementById("calendar-box").innerHTML = "";
      console.log(document.getElementById("filter-text-val").value);
      fetch(
        "/episodes?" +
          new URLSearchParams({
            title: document.getElementById("filter-text-val").value,
          }).toString()
      )
        .then((response) => response.json())
        .then((data) =>
          data.forEach((row) => {
            let tempDiv = document.createElement("div");
            tempDiv.innerHTML = answerBoxTemplate(
              row.title,
              row.descr,
              row.imdb_rating
            );
            document.getElementById("answer-box").appendChild(tempDiv);
          })
        );
    }
  </script>
</body>
